<div class="container ps-4 pe-4 pt-4">
	<app-content-heading icon="user">CAREER PROFILE</app-content-heading>
	<div class="summary">
		<p class="text-bold">
			I'M Abdo a web designer and front-end developer with over 7 years of
			professional experience in UI design and web development, I'm currently
			living in Cairo EG.
		</p>
		<p>
			I have a bachelor of information systems on Delta Academy in Mansoura, I
			study human computer interface and the psychology of human computer
			interaction.
		</p>
		<p>
			My best qualities include being a creative thinker, a leader, a
			cheerleader, a team player, a multitasker, a hard worker and someone who
			understands that behind every great design is an important business
			objective. I’m always seeking new technical skills and new solutions.
		</p>
		<p>
			I have startup development 'Tatwerat.com' and I work well with a
			professional team is always trying to develop self and offering the finest
			services.
		</p>
	</div>
	<app-content-heading icon="briefcase">EXPERIENCES</app-content-heading>
	<div class="experiences">
		<div class="item">
			<div class="meta">
				<div class="upper-row">
					<h3 class="job-title">Full Stack Developer and UI/UX Team Leader</h3>
					<div class="time">Sep 2018 - Present</div>
				</div>
				<div class="company">Effective Value Solutions</div>
			</div>
			<div class="details">
				<p>
					We're working to build fully ERP system on Python Frappé framework
					using ERPNext application, I manage user interface and user experience
					using PHP and Vue to develop frontend use frameworks like Laravel and
					integration with python API.
				</p>
			</div>
		</div>
		<div class="item">
			<div class="meta">
				<div class="upper-row">
					<h3 class="job-title">UI/UX Designer and Frontend Developer</h3>
					<div class="time">Nov 2015 - May 2018</div>
				</div>
				<div class="company">Naba Software</div>
			</div>
			<div class="details">
				<p>
					Work as UI/UX consultant for windows applications and web , mobile
					applications designer plus WordPress and php developer.
				</p>
			</div>
		</div>
		<div class="item">
			<div class="meta">
				<div class="upper-row">
					<h3 class="job-title">UI/UX Designer and Frontend Developer</h3>
					<div class="time">Sep 2013 - Jun 2015</div>
				</div>
				<div class="company">Tawrny</div>
			</div>
			<div class="details">
				<p>
					Work as UI/UX designer and frontend developer using WordPress
					development to create websites and build mobile applications design.
				</p>
			</div>
		</div>
		<div class="item">
			<div class="meta">
				<div class="upper-row">
					<h3 class="job-title">Founder</h3>
					<div class="time">Jun 2009 - Present</div>
				</div>
				<div class="company">Tatwerat</div>
			</div>
			<div class="details">
				<p>
					Started as a web designer, UI developer and windows applications
					developer with VB6 and right now we working with new technologies and
					framework like WordPress using php , javascript libraries (jQuery,
					Angular, Node.JS) and mobile cross platforms.
				</p>
			</div>
		</div>
		<app-content-heading icon="browser">PORTFOLIO</app-content-heading>
	</div>
</div>
