@use '@angular/material' as mat;

// @import url('https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@44659d9/css/all.min.css');
@import 'scss/variables';
@import 'scss/mixins';
@include mat.all-component-themes($light-theme);

@media (prefers-color-scheme: dark) {
	@include mat.all-component-colors($dark-theme);
}

@import '@bitmorest/material-bs-grid/index.scss';

html {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
		Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 1rem;
	color: #333;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	margin: 0;
	@include get-theme-color-property(background, background, background);
}
